@import-normalize;
@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/colors.scss";

.app {
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    font-size: 16px;
    font-family: "McLaren";
    background-image: url(../../assets/pics/bcg.jpg);
}

.btn_delete {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: transparent;
    color: transparent;
}

.note:hover > .btn_delete {
    color: red;
}

.btn_delete:active {
    background-color: red;
}
