@import "../../assets/styles/colors.scss";

.footer {
    width: 100%;
    height: 4rem;
    display: block;
    color: $purple;
    line-height: 4rem;
    text-align: center;
    background-color: $green;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    user-select: none;
}