@font-face {
    font-family: "McLaren";
    font-weight: 400;
    src: url("../fonts/McLaren-Regular.woff") format("woff"),
        url("../fonts/McLaren-Regular.ttf") format("ttf"),
        url("../fonts/McLaren-Regular.otf") format("otf"),
        url("../fonts/McLaren-Regular.svg") format("svg"),
        url("../fonts/McLaren-Regular.eot") format("eot");
}

//$McLaren: "McLaren", Arial, sans-serif;